<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/caglarkizilbulut/IdeaProjects/RestAssured/src/test/java/Campus/CountryTest.java">
        <classes>
            <class name="Campus.CountryTest">
                <methods>
                    <include name="createCountry"/>
                    <include name="createCountryNegative"/>
                    <include name="updateCountry"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>